{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Perfil de usuario</h2>
<div>
    <p>Los detalles de tu cuenta se encuentran aqui abajo:</p>
    <table>
        <tr>
            <td>Usuario:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Contraseña:</td>
            <td>{{ account['password'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}l>